<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CraigsUtilityLibrary-DataTypes" version="3.4.0199" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-IO" version="3.4.0199" targetFramework="net40" />
  <package id="NLog" version="4.0.1" targetFramework="net40" />
</packages>