<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CraigsUtilityLibrary-Compression" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-DataTypes" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Encryption" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-FileFormats" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-IO" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Math" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Media" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Random" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Reflection" version="3.4.0020" targetFramework="net40" />
  <package id="CraigsUtilityLibrary-Web" version="3.4.0020" targetFramework="net40" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.0.2" targetFramework="net40" />
  <package id="WebGrease" version="1.3.0" targetFramework="net40" />
</packages>